* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #9aa9bb51;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  height: 70vh;
}
h3{
  position: absolute;
  color: #9aa9bb;
  left: 5%;
  top: 8%;
}
h1{
  position: absolute;
  top: 5%;
  color: #2A683D;

}
.botaoNovo{
  width: 100%;
  margin: 7px auto 7px;
  display: block;
  padding: 7px 35px;
  background-color: #EFEFEF;
  font-weight: 400;
  border-radius: 10px;
  color: #0a6718ae;
  border: 0;
}
.btn-group{
  top: 8%;
  left: 37%;
}
.box{
  border-radius: 20px;
  background-color: #ffffff;
  position: relative;
  top: 10%;
}
h4{
  color: #06cb52c5;
}
.iconNovo{
    position: absolute;
    left: 10px;
    top: 35%;
    width: 17px;
    height: 15px;
}
.form-select{
  max-width: 50%;
  margin-bottom: 10px;
  border-width: 3px;
}
.form-select:hover{
  border-color: #06cb5289;
}
.input-container {
  position: relative; 
  width: 100%;
  border-width: 3px;
}
.modal-body .form-control{
  width: 100%;
  height: 20%;
  margin: 0 auto 5px;
  display: block;
  text-align: left; 
  padding: 8px 8px 8px 40px;
  font-weight: 400;
  color: #06cb52c2;
  border: #9aa9bb83 2px solid;
}
.modal-body .form-control:hover{
  border-color: #06cb5289;
}
.modal-body .botaoEnviar{
    width: 95%;
    margin: 0 auto 10px;
    display: block;
    padding: 5px 5px;
    background-color: #61d4847f;
    font-weight: 400;
    border-radius: 10px;
    color: #14cb4b;
    border: 0;
}
.modal-body .botaoEnviar:hover{
  background-color: rgb(80, 248, 131);
  color: #ffffff;
}