@import "tailwindcss";
@config "../../tailwind.config.cjs";

.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}
.scrollbar-custom::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.9);
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 1);
}