* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9aa9bb51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}