* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9aa9bb51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*parte cima*/
.grupoCardCima{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  width: 170vh;
  margin-left: 4%;
  margin-top: 10%;
}
.cardCima{
  max-width: 280px;
  max-height: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px 70px;  
  border-radius: 6px; 
  box-shadow: 0 2px 4px rgba(26, 117, 177, 0.164);
}
.numUser{
    font-size: 40px;
    color:#79B8FF ;
}
.numClubes{
    font-size: 40px;
    color:#79B8FF ;
}
.numOportu{
    font-size: 40px;
    color:#79B8FF ;
}
.numDenun{
    font-size: 40px;
    color:#79B8FF ;
}
.imgUserDash{
    position: absolute;
    left: 23%;
    top: 20%;
    width: 50px;
    height: 50px;
}
.imgClubeDash{
    position: absolute;
    left: 43%;
    top: 20%; 
    width: 50px;
    height: 50px;
}
.grupoCardMeio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%; 
  margin-top: 0;
  padding: 10px; 
  margin-left: 5%;
}

.grupoCardMeio section {
  background: #fff;
  height: 40vh;
  width: 43vh;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(26,117,177,0.15);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cardCadaUSer {
}

.cardUltiOpor {
  flex: 1.4; 
}
.cardOportuPen{
    flex: 1.4;
}
.cardUltiDenun {
  flex: 1;
}
.tempoCada{
    position: fixed;
    top: 39%;
    left: 26%;
    background-color: #ffffff;
    border: #144175 2px solid;
    border-radius: 8px;
    color: #144175;
    font-weight: 500;
    width: 73px;
    height: 20px;
}
button{
    position: fixed;
    top: 39%;
    left: 49%;
    background-color: #ffffff;
    border: #144175 2px solid;
    border-radius: 7px;
    color: #144175;
    font-weight: 400;
    width: 73px;
    height: 20px;
}

/*acoes recentes*/
.acoes {
  background: #fff;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(26,117,177,0.15);
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 32px;
}
.acoes-topo {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 15px;
}
label{
    color: #144175;
    font-size: 14px;
}
.ordenar {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 0;
}
.acoes table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.selectData{
    background-color: #ffffff;
    border: #144175 2px solid;
    border-radius: 7px;
    color: #144175;
    font-weight: 400;
    width: 135px;
    height: 20px;
}
.acoes thead th {
  background: #ffffff;
  padding: 10px;
  text-align: left;
  color: #144175;
  font-weight: 300;
  border: 0;
}



.iconUser{
    position: fixed;
    top: 39%;
    left: 12%;
    width: 17px;
    height: 15px;
}
.iconOportuUm{
    position: fixed;
    top: 39%;
    left: 34%;
    width: 17px;
    height: 15px;
}
.iconOportuDois{
    position: fixed;
    top: 39%;
    left: 57%;
    width: 17px;
    height: 15px;
}
.iconDenun{
    position: fixed;
    top: 39%;
    left: 80%;
    width: 17px;
    height: 15px;
}
/*demais tags*/
h1{
    color: #144175;   
    position: fixed;
    top: 5%;
    left: 12%;
}
h3{
    color: #144175;
}
h4{
    color: #144175;
    font-weight: 300;
    margin-left: 3px;
}