* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #9aa9bb51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*nav e layout inicial da tela de config*/
.navConfig{
    position:fixed;
    left: 250px;
    top:12%;
    height:50vh;
    width: 30vh;      
    border-radius: 10px;
    background:#fff;
    transition:width .3s ease;
    overflow:hidden;
    z-index:1000;
}
.navConfig ul{
    list-style:none;
    padding:20px 0;
}
.navConfig li{
    margin:4px 0;
}
.navConfig li:hover{
    background-color: #79B8FF;
    border-radius: 10px;
}
.navConfig a{
    display:flex;
    font-weight: 650;
    margin-left: 10%;
    align-items:center;
    gap:12px;
    padding:12px 20px;
    color:#8c8c8c;
    text-decoration:none;
    white-space:nowrap;
    transition:background .2s,color .2s;
    border-radius: 15px;
}
.navConfig a:hover{
    color: #ffffff;
}
.iconEmail{
    position: absolute;
    left: 10px;
    top: 14%;
    width: 20px;
    height: 20px;
}
.iconNotifica{
    position: absolute;
    left: 10px;
    top: 24%;
    width: 20px;
    height: 22px;
}
.iconTema{
    position: absolute;
    left: 10px;
    top: 35%;
    width: 20px;
    height: 20px;
}
.iconBackup{
    position: absolute;
    left: 10px;
    top: 46%;
    width: 20px;
    height: 20px;
}
.iconSobre{
    position: absolute;
    left: 10px;
    top: 57%;
    width: 20px;
    height: 20px;
}
/* parte tela notificação*/
.corpoNotifica{
    position:fixed;
    top: 12%;
    height: 50vh;
    width: 90vh;
    justify-content: center;
    align-items: center;
}

.labelNotiMail{
    position: relative;
    display: inline-block;
    width: 60%;
    height: 8%;
}
.labelNotiMail input{
    opacity: 0;
    width: 0;
    height: 0;
}
.checkSlide{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 120%;
  bottom: 0;
  background-color: #ccc; 
  height: 20px;
  width: 30px;
  transition: 0.4s;
}
.checkSlide::before{
  position: absolute;
  content: "";
  height: 13px;
  width: 13px; 
  left: 4px;
  top: 4px;
  bottom: 4px; 
  background-color: white;
  transition: 0.4s;
}
input:checked + .checkSlide{
    background-color: #1E4067;
}
input:checked + .checkSlide:before {
  transform: translateX(11px); 
}
.checkSlide{
  border-radius: 34px;
}
.checkSlide:before {
  border-radius: 50%;
}
.labelNotiOportu{
    position: relative;
    display: inline-block;
    width: 60%;
    height: 8%;
}
.labelNotifiDenun{
    position: relative;
    display: inline-block;
    width: 60%;
    height: 8%;
}
.labelNotiOportu input{
    opacity: 0;
    width: 0;
    height: 0;
}
.labelNotifiDenun input{
    opacity: 0;
    width: 0;
    height: 0;
}
.formNotifica{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.botaoNotifica{
    width: 10%;
    position: fixed;
    top: 70%;
    display: block;
    padding: 5px 5px;
    background-color: #3A6BA3;
    font-weight: 400;
    border: 0;
    color: #ffffff;
    border-radius: 10px;
}
.botaoNotifica:hover{
    background-color: #4c90df;
}
/* parte tela tema*/
.corpoTema{
    border: 0;
    border-radius: 7px;
    background-color: #ffffff;
    position:fixed;
    left: 40%;
    top: 12%;
    height: 60vh;
    width: 120vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.formTema{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.opcoesTema{
    display: flex; 
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.imagemTema{
    height: 120px;
}
.tema{
    height: 100%;
    width: 100%;
}
.labelTemaSistema{
    margin-left: 10px;
    padding: 40px 10px;
    padding-block-end: 10px;
}
.labelTemaSistema:hover{
    transition: 0.8s;
    border: #85A3C5 2px solid;
    border-radius: 10px;
}
.labelTemaClaro{
    margin-left: 10px;
    padding: 40px 10px;
    padding-block-end: 10px;
}
.labelTemaClaro:hover{
    transition: 0.8s;
    border: #85A3C5 2px solid;
    border-radius: 10px;
}
.labelTemaEscuro{
    margin-left: 10px;
    padding: 40px 10px;
    padding-block-end: 10px;
}
.labelTemaEscuro:hover{
    transition: 0.8s;
    border: #85A3C5 2px solid;
    border-radius: 10px;
}
.iconSis{
    position: fixed;
    width: 18px;
    height: 18px;
    left: 42%;
    top: 27%;

}
.iconClaro{
    position: fixed;
    width: 18px;
    height: 18px;
    left: 61%;
    top: 27%;
}
.iconEscuro{
    position: fixed;
    width: 18px;
    height: 18px;
    left: 81%;
    top: 27%;
}
.nomeSis{
    font-size: 17px;
    position: fixed;
    left: 44%;
    top: 27%;
}
.nomeClaro{
    font-size: 17px;
    position: fixed;
    left: 63%;
    top: 27%;
}
.nomeEscuro{
    font-size: 17px;
    position: fixed;
    left: 83%;
    top: 27%;
}
/* parte tela backup */
.corpoBackup{
    border:0;
    border-radius: 7px;
    background-color: #ffffff;
    position:fixed;
    left: 40%;
    top: 12%;
    height: 70vh;
    width: 120vh;
    justify-content: baseline;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}
.listaDownloads ul{
    display: flex;
    flex-direction: column;
    gap: 19px;
    list-style: none;
}
.btnDump{
    padding: 5px 20px;
    background-color: #3A6BA3;
    font-weight: 400;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 70%;
    top: 10%;
}
.btnDump:hover{
    background-color: #4c90df;
}
.btnUser{
    padding: 5px 20px;
    background-color: #3A6BA3;
    font-weight: 400;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 70%;
    top: 47%;
}
.btnUser:hover{
    background-color: #4c90df;
}
.btnClube{
    padding: 5px 20px;
    background-color: #3A6BA3;
    font-weight: 400;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 70%;
    top: 55%;
}
.btnClube:hover{
    background-color: #4c90df;
}
.btnOportu{
    padding: 5px 20px;
    background-color: #3A6BA3;
    font-weight: 400;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 70%;
    top: 63%;
}
.btnOportu:hover{
    background-color: #4c90df;
}
.btnFunc{
    padding: 5px 20px;
    background-color: #3A6BA3;
    font-weight: 400;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 70%;
    top: 71%;
}
.btnFunc:hover{
    background-color: #4c90df;
}
.btnEspo{
    padding: 5px 20px;
    background-color: #3A6BA3;
    font-weight: 400;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 70%;
    top:  79%;
}
.btnEspo:hover{
    background-color: #4c90df;
}
.btnDenun{
    padding: 5px 20px;
    background-color: #3A6BA3;
    font-weight: 400;
    border: 0;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    left: 70%;
    top: 87%;
}
.btnDenun:hover{
    background-color: #4c90df;
}
/* parte tela sobre */
.corpoSobre{
    border:0;
    border-radius: 7px;
    background-color: #ffffff;
    position:fixed;
    left: 40%;
    top: 12%;
    height: 87vh;
    width: 120vh;
    justify-content: baseline;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}
.logoSobre{
    height: 55px;
    width: 55px;
}
.logo{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.listaDev ul{
    color: #1E4067;
    margin-left: 10px;
}
/* demais tags */
strong{
    color: #85A3C5;
    font-weight: 500;
}
h1{
    font-size: 40px;
    font-weight: 500;
    position:fixed;
    left: 240px;
    top:2%;
    color: #1E4067;
}
h2{
    color: #1E4067;
    font-weight: 500;
}
h3{
    font-weight: 500;
    color: #1E4067;
}
h4{
    color: #1E4067;
    font-weight: 500;
}
h5{
    color: #bbbbbb;
    margin-top: 10px;
    margin-left: 10px;
}
h6{
    color: #1e4067c7;
    font-weight: 100;
    margin-top: 10px;
}
p{
    color: #1e4067c7;
    font-weight: 200;
}
.navConfig ul li a {
  display: flex;
    margin-left: auto;
  gap: 10px; /* espaçamento entre o ícone e o texto */
  padding: 10px 15px;
  color: #8c8c8c;
  font-weight: 650;
  text-decoration: none;
  border-radius: 10px;
  transition: background 0.2s, color 0.2s;
}

.navConfig ul li a:hover {
  background-color: #79B8FF;
  color: #fff;
}

.navConfig ul li i {
  font-size: 22px;
  color: #1E4067;
  min-width: 25px; /* garante que todos os ícones ocupem o mesmo espaço */
  text-align: center;
}