* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg-body);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-primary);
}
.container{
  height: 70vh;
}
h5{
  position: absolute;
  color: #9aa9bb;

  left: 8%;
  top: 12%;
}
h2{
  position: absolute;
  color: #2A683D;

}
.botaoNovo{
  width: 100%;
  margin: 7px auto 7px;
  display: block;
  padding: 7px 35px;
  background-color: #EFEFEF;
  font-weight: 400;
  border-radius: 10px;
  color: #0a6718ae;
  border: 0;
}
.btn-group{
  top: 5%;
  left: 40%;
}
.box{
  border-radius: 20px;
  background-color: var(--bg-card);
}
h4{
  color: #06cb5289;
}
.iconNovo{
    position: absolute;
    left: 10px;
    top: 35%;
    width: 17px;
    height: 15px;
}
.form-select{
  max-width: 50%;
  margin-bottom: 10px;
  border-width: 3px;
}
.form-select:hover{
  border-color: #06cb5289;
}
.input-container {
  position: relative; 
  width: 100%;
  border-width: 3px;
}
.modal-body .form-control{
  width: 100%;
  height: 20%;
  margin: 0 auto 5px;
  display: block;
  text-align: left; 
  padding: 8px 8px 8px 40px;
  font-weight: 400;
  color: var(--text-primary);
  border: 2px solid var(--border-color);
  background: var(--input-bg);
}
.modal-body .form-control:hover{
  border-color: #06cb5289;
}
.modal-body .botaoEnviar{
  width: 95%;
  margin: 0 auto 10px;
  display: block;
  padding: 5px 5px;
  background-color: var(--accent);
  font-weight: 400;
  border-radius: 10px;
  color: white;
  border: 0;
}